{
	"metadata": {
		"copyright": ["{{scheme-author}}"],
		"name": "Base16 {{scheme-name}}",
		"revision": 1
	},
	"editor-colors": {
		"BackgroundColor": "#{{base00-hex}}",
		"BracketMatching": "#{{base03-hex}}",
		"CodeFolding": "#{{base02-hex}}",
		"CurrentLine": "#{{base01-hex}}",
		"CurrentLineNumber": "#{{base04-hex}}",
		"IconBorder": "#{{base01-hex}}",
		"IndentationLine": "#{{base03-hex}}",
		"LineNumbers": "#{{base03-hex}}",
		"MarkBookmark": "#{{base0D-hex}}",
		"MarkBreakpointActive": "#{{base08-hex}}",
		"MarkBreakpointDisabled": "#{{base0E-hex}}",
		"MarkBreakpointReached": "#{{base0A-hex}}",
		"MarkError": "#{{base08-hex}}",
		"MarkExecution": "#{{base0C-hex}}",
		"MarkWarning": "#{{base09-hex}}",
		"ModifiedLines": "#{{base09-hex}}",
		"ReplaceHighlight": "#{{base0B-hex}}",
		"SavedLines": "#{{base0B-hex}}",
		"SearchHighlight": "#{{base0A-hex}}",
		"Separator": "#{{base03-hex}}",
		"SpellChecking": "#{{base08-hex}}",
		"TabMarker": "#{{base03-hex}}",
		"TemplateBackground": "#{{base01-hex}}",
		"TemplateFocusedPlaceholder": "#{{base0B-hex}}",
		"TemplatePlaceholder": "#{{base0B-hex}}",
		"TemplateReadOnlyPlaceholder": "#{{base08-hex}}",
		"TextSelection": "#{{base02-hex}}",
		"WordWrapMarker": "#{{base03-hex}}"
	},
	"text-styles": {
		"Alert": {
			"background-color": "#{{base08-hex}}",
			"bold": true,
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#000000"
		},
		"Annotation": {
			"selected-text-color": "#{{base05-hex}}",
			"text-color": "#{{base04-hex}}"
		},
		"Attribute": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base0D-hex}}"
		},
		"BaseN": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base09-hex}}"
		},
		"BuiltIn": {
			"selected-text-color": "#{{base0D-hex}}",
			"text-color": "#{{base0D-hex}}"
		},
		"Char": {
			"selected-text-color": "#{{base06-hex}}",
			"text-color": "#{{base0C-hex}}"
		},
		"Comment": {
			"italic": true,
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base03-hex}}"
		},
		"CommentVar": {
			"selected-text-color": "#{{base0C-hex}}",
			"text-color": "#{{base0C-hex}}"
		},
		"Constant": {
			"bold": true,
			"selected-text-color": "#{{base09-hex}}",
			"text-color": "#{{base09-hex}}"
		},
		"ControlFlow": {
			"bold": true,
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base09-hex}}"
		},
		"DataType": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base0A-hex}}"
		},
		"DecVal": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base09-hex}}"
		},
		"Documentation": {
			"selected-text-color": "#{{base08-hex}}",
			"text-color": "#{{base08-hex}}"
		},
		"Error": {
			"selected-text-color": "#{{base08-hex}}",
			"text-color": "#{{base08-hex}}",
			"underline": true
		},
		"Extension": {
			"bold": true,
			"selected-text-color": "#{{base0D-hex}}",
			"text-color": "#{{base0D-hex}}"
		},
		"Float": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base09-hex}}"
		},
		"Function": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base0D-hex}}"
		},
		"Import": {
			"selected-text-color": "#{{base0F-hex}}",
			"text-color": "#{{base0F-hex}}"
		},
		"Information": {
			"selected-text-color": "#{{base0C-hex}}",
			"text-color": "#{{base0C-hex}}"
		},
		"Keyword": {
			"bold": true,
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base0E-hex}}"
		},
		"Normal": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base05-hex}}"
		},
		"Operator": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base05-hex}}"
		},
		"Others": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base0A-hex}}"
		},
		"Preprocessor": {
			"selected-text-color": "#{{base0B-hex}}",
			"text-color": "#{{base0B-hex}}"
		},
		"RegionMarker": {
			"background-color": "#{{base04-hex}}",
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base07-hex}}"
		},
		"SpecialChar": {
			"selected-text-color": "#{{base06-hex}}",
			"text-color": "#{{base0C-hex}}"
		},
		"SpecialString": {
			"selected-text-color": "#{{base0F-hex}}",
			"text-color": "#{{base0F-hex}}"
		},
		"String": {
			"selected-text-color": "#{{base07-hex}}",
			"text-color": "#{{base0B-hex}}"
		},
		"Variable": {
			"selected-text-color": "#{{base08-hex}}",
			"text-color": "#{{base08-hex}}"
		},
		"VerbatimString": {
			"selected-text-color": "#{{base0B-hex}}",
			"text-color": "#{{base0B-hex}}"
		},
		"Warning": {
			"selected-text-color": "#{{base0A-hex}}",
			"text-color": "#{{base0A-hex}}"
		}
	}
}
